/* Asterisk wild card selector to override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color:#3a3a3a;
}

/* Header */
header {
    background-color: lightcoral ;

}

/* Main */
main {
    background-color:lightblue ;
    /* make main element take up any surplus space  to push footer to bottom */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: orange ;
}