/* Asterisk wild card selector to override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: lightcoral ;

}

/* Main */
main {
    background-color:lightblue ;
}

/* Footer */
footer {
    background-color: orange ;
}