/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* Asterisk wild card selector to override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color:#3a3a3a;
    font-family: "Lato", sans-serif;
}

/* H1 style */
h1, h2, h3 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Header */
header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* format the header */
header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    list-style: none; 
    letter-spacing: 4px;
    font-size: 110%;
   
}

#menu > li {
    margin-bottom: 1em;

}

.active {
    border-bottom: 1px solid #3a3a3a ;
}

/* navbar styles with drop down toggle */
nav {
    position: absolute;
    background-color: white;
    padding: 0 1rem;
    z-index: 99;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    /* alighn drop down menue to the right 
    org: left: 0; width: 100% */
    width: fit-content;
    right: 0;
    text-align: right;
}

/* nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main */
main {
        /* make main element take up any surplus space  to push footer to bottom */
    flex: 1 0 auto;
    margin-top: 47px;
   
}

/* Hero section */
#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text > h2, cover-text > h3 {
    color: white;
}

#cover-text {
    /* final rgba sets opacity to semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

/* section for details on why running with us */
#reasons {
    margin: 20px auto 20px auto;
    width: 90%;
}

#reasons div {
    margin-bottom: 20px;
    line-height: 20px;
  
}

#reasons h2 {
    text-transform: uppercase;
    font-size: 280%;
    margin-bottom: 20px;
    text-align: center;
}

#reasons p {
    padding: 0 20px;
}

#benefits-physical hr, #benefits-mental hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
    background: url("../images/reasons-image.webp") no-repeat center center/cover;
    margin: 20px;
    width: 90vw;
    height: 90vw;
}


/* deviation from lecture: move  social network items to the nav drop down bar  
footer {
    #social-networks {
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style: none; 
        letter-spacing: 4px;
   }
   #social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
   } */
#social-networks {
    display: none;
}

#social-networks-dropdown {
    list-style: none;
    padding-bottom: 1rem;
}

#social-networks-dropdown i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    /* on bigger screens the social networks should be displayed on the bottom */
    #social-networks-dropdown {
        display: none;
    }
    
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;   
    }

    main{
        margin-top: 79px;
    }
    
    /* deviation from lecture: add the social network items to the bottom only on bigger screens */
    footer {
        #social-networks {
            text-align: center;
            padding: 20px 0;
            display: flex;
            justify-content: space-evenly;
            list-style: none; 
            letter-spacing: 4px;
       }
       #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: #3a3a3a;
       }
       
    }
    #cover-text {
        width: 300px;
        right: 50px;
    }

}
/* Large devices with a mouse 992px and bigger */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a ; 
    }

}